/* card-img slider section css start */
.card-img-slider-section {
    background-color: var(--section-bg);
}

.card-img-slider-section .section-heading-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

/* card-img slider section css end */

@media only screen and (max-width: 575px) {

    /* card-img slider section css start */
    .card-img-slider-section .section-heading-wrapper {
        justify-content: center;
        gap: 8px;
        flex-direction: column;
    }

    /* card-img slider section css end */
}