/*  section css start */
.hero-content {
    text-align: center;
}

.hero-content-heading {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    font-family: var(--paragraph-font);
}

.slider-hero-item {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-slider-area .slider-hero-item {
    height: 100%;
}

.slider-hero-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-content-inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero-content-text {
    color: var(--white);
    max-width: 450px;
    margin: 11px auto 0;
}

.hero-content-btn {
    margin: 16px 0 0 0;
    display: flex;
    justify-content: center;
}

.hero-slider-area .hero-content-inner .hero-content-btn {
    justify-content: flex-start;
}

/*  section css end */

@media only screen and (max-width:767px) {

    /*  section css start */
    .hero-content-inner {
        align-items: flex-end;
        padding: 0;
    }

    .hero-content-inner {
        height: 500px;
    }

    .hero-slider-area .slider-hero-overlay .hero-content {
        margin: 0;
    }

    .slider-hero-overlay .hero-content {
        width: 70%;
        margin: 0 0 70px 0;
    }

    /*  section css end */
}

@media only screen and (max-width: 575px) {

    /*  section css start */
    .hero-content-inner {
        height: 350px;
    }

    .slider-hero-overlay .hero-content {
        width: 90%;
        margin: 0 0 50px 0;
    }

    .hero-content-area {
        flex-direction: column;
    }

    /*  section css end */
}