.icon-items {
    display: grid;
    gap: 84px;
    grid-template-columns: repeat(3, 1fr);
}

.icon-item {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.icon-item::before {
    content: "";
    position: absolute;
    right: -7%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--border-color2);
}

.icon-item:last-child::before {
    display: none;
}

.icon-item-img {
    max-width: 50px;
}

.icon-item-img img {
    object-fit: contain;
}

.icon-item-title {
    font-weight: 600;
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {

    /* icon-item section css start */
    .icon-items {
        gap: 20px;
    }

    .icon-item {
        gap: 10px;
    }

    /* icon-item section css end */
}

@media only screen and (max-width: 767px) {

    /* icon-item section css start */
    .icon-items {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .icon-item-img {
        max-width: 35px;
    }

    /* icon-item section css end */
}

@media only screen and (max-width: 575px) {

    /* icon-item section css start */
    .icon-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .icon-item-title {
        font-size: 14px;
        font-weight: 500;
    }

    /* icon-item section css end */
}