/* policy-section css start */
.policy-section .section-heading-wrapper {
    text-align: center;
}

.policy-section .section-heading {
    color: var(--black);
}

.policy-content-wrapper {
    padding: 20px 15px;
    border: 1px solid var(--border-color);
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.policy-content {
    margin: 0 0 15px 0;
}

.policy-content:last-child {
    margin: 0;
}

.policy-content p,
.policy-content strong {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.policy-content p:last-child {
    margin: 0;
}

.policy-content strong {
    display: block;
}

.policy-content ul li{
    margin: 0 0 5px 0;
}

.policy-content ul li:last-child{
    margin: 0;
}

.policy-content.privacy-policy-item {
    text-align: center;
}

.payment-img {
    max-width: 286px;
    margin: 50px auto 0;
}

.brand-icon {
    max-width: 35px;
    margin: 50px auto 0;
}

/* policy-section css end */

@media only screen and (max-width: 575px) {

    /* policy-section css start */
    .policy-content-wrapper {
        padding: 15px 15px;
    }

    .payment-img {
        margin: 20px auto 0;
    }

    .brand-icon {
        margin: 20px auto 0;
    }

    /* policy-section css end */
}